<div class="sidebar">
  <div id="logo">
    <%= image_tag("logo.png") %>
  </div>
  <div class="features">
    <h3>Assisted Living for:</h3>
    <ul>
      <li>Well-Elderly</li>
      <li>Dementia &amp; Memory Impaired</li>
      <li>Alzheimer's</li>
      <li>Post-stroke</li>
      <li>Adults &amp; Elderly</li>
      <li>Needing Special Care</li>
    </ul>
  </div>
</div>
<%= render 'layouts/gallery' %>
