@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$gray-medium-light: #eaeaea;
$dark-green: #01371A;
$green: #009243;
$light-green: #83C33F;


/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
a, .glow {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.glow:hover {
  color: white;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header {
  background-color: $light-green;
  color: white;
  font-size: 1.3em;
  &:hover {
    color: gray;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 38px;
  font-weight: bold;
}


/* Home Page */
.sidebar {
  float: left;
  border-right: 4px solid #777;
  border-bottom: 4px solid #777;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 26px;
}
.features {
}
.gallery {
}


/* footer */
footer {
  clear: both;
  position: absolute;
  bottom: 0;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
      background: white;
      text-decoration: none;
    }
  }
  small {
    float: left;
    a, a:visited { 
      color: gray; 
      &:hover {
        color: $gray-darker;
      }
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
