<footer class="footer">
  <small>
    Website developed
    by <a href="http://alxako.com/">Alex Reyes</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
