<div class="fotorama" 
    data-transition="crossfade"
    data-minwidth="740"
    data-nav="thumbs"
    data-loop="true"
    data-autoplay="true">
  <img class="gitem" src="http://i.imgur.com/HkyPdorl.jpg" />
  <img class="gitem" src="http://i.imgur.com/L8xdHXB.jpg" />
  <img class="gitem" src="http://i.imgur.com/RCuhTdU.jpg" />
  <img class="gitem" src="http://i.imgur.com/bbb4i6J.jpg" />
  <img class="gitem" src="http://i.imgur.com/Qrv9a66.jpg" />
  <img class="gitem" src="http://i.imgur.com/NxJadYx.jpg" />
  <img class="gitem" src="http://i.imgur.com/vueq7Vw.jpg" />
  <img class="gitem" src="http://i.imgur.com/MGnlQ8A.jpg" />
</div>
