<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", 'http://lunex.herokuapp.com' %></li>
        <li><%= link_to "About", about_path %></li>
	    <li><%= link_to "News", '#' %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>

